p {
    font-size: 14px;
}

#header {
    background-color: red;
}

#main {
    background-color: blue;
    float: left;
    width: 300px;
}

#sidebar {
    background-color: yellow;
    float: right;
    width: 100px;
}

#footer {
    background-color: green;
    clear: right;
}

